*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}


body{

    background:#050505;

    color:white;

    overflow:hidden;

}



#canvas{

    position:fixed;

    inset:0;

    z-index:-1;

}




/* INTRO */

#intro{

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

}



.intro-box{

    text-align:center;

    padding:40px;

    animation:fade 2s;

}



.intro-box h1{

    font-size:45px;

    margin-bottom:40px;

    text-shadow:
    0 0 20px #ff3b8d;

}



button{

    padding:18px 45px;

    border:none;

    border-radius:50px;

    font-size:20px;

    cursor:pointer;

    color:white;

    background:
    linear-gradient(45deg,#ff0066,#ff66cc);

    box-shadow:
    0 0 30px #ff0066;

}





/* GIFT */


#giftScreen{

    display:none;

    height:100vh;

    justify-content:center;

    align-items:center;

    flex-direction:column;

}



#giftScreen p{

    margin-top:40px;

    font-size:22px;

}



.gift-container{

    perspective:1000px;

    cursor:pointer;

}



.box{

    width:200px;

    height:170px;

    position:relative;

    transform-style:preserve-3d;

    animation:float 3s infinite;

}




.box-body{


    position:absolute;

    bottom:0;

    width:200px;

    height:130px;


    background:

    linear-gradient(
    135deg,
    #ff0066,
    #ff66cc
    );


    border-radius:15px;


    display:flex;

    justify-content:center;

    align-items:center;


    font-size:80px;


    box-shadow:

    0 0 40px #ff0066;


}




.lid{


    position:absolute;

    top:0;


    width:200px;

    height:50px;


    background:#ff3399;


    border-radius:15px;


    transform-origin:bottom;


    transition:1s;


    z-index:5;


    box-shadow:

    0 0 30px pink;


}



.gift-container.open .lid{


    transform:

    rotateX(-130deg)

    translateY(-40px);


}






/* RESULT */


#result{


    display:none;

    height:100vh;

    justify-content:center;

    align-items:center;


}




.message-box{


    width:90%;

    max-width:650px;


    text-align:center;


    padding:40px;


    border-radius:30px;


    background:

    rgba(255,255,255,0.08);


    backdrop-filter:blur(15px);


    box-shadow:

    0 0 50px rgba(255,0,150,.5);


}



#title{


    font-size:55px;


    margin-bottom:30px;


    text-shadow:

    0 0 25px pink;


}



#text{


    font-size:24px;


    line-height:1.6;


}







/* FLOAT */


@keyframes float{


    0%,100%{

        transform:translateY(0);

    }


    50%{

        transform:translateY(-25px);

    }


}



@keyframes fade{


    from{

        opacity:0;

    }


    to{

        opacity:1;

    }


}






/* MOBILE */


@media(max-width:600px){


    .intro-box h1{

        font-size:30px;

    }


    #title{

        font-size:38px;

    }


    #text{

        font-size:18px;

    }


}
